.requess-list {
    position: relative;
    height: 100%;

    .loader {
        position: absolute;
        left: 50%;
        margin-left: -20px;
        top: 50%;
        margin-top: -20px;
        z-index: 10;
    }
}